
.DS_Store
.gradle/6.8.1/fileChanges/last-build.bin
.gradle/6.8.1/fileHashes/fileHashes.lock
.gradle/6.8.1/gc.properties
.gradle/7.2/dependencies-accessors/dependencies-accessors.lock
.gradle/7.2/dependencies-accessors/gc.properties
.gradle/7.2/fileChanges/last-build.bin
.gradle/7.2/fileHashes/fileHashes.lock
.gradle/7.2/gc.properties
.gradle/7.3.3/checksums/checksums.lock
.gradle/7.3.3/dependencies-accessors/dependencies-accessors.lock
.gradle/7.3.3/dependencies-accessors/gc.properties
.gradle/7.3.3/executionHistory/executionHistory.bin
.gradle/7.3.3/executionHistory/executionHistory.lock
.gradle/7.3.3/fileChanges/last-build.bin
.gradle/7.3.3/fileHashes/fileHashes.bin
.gradle/7.3.3/fileHashes/fileHashes.lock
.gradle/7.3.3/fileHashes/resourceHashesCache.bin
.gradle/7.3.3/gc.properties
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/buildOutputCleanup/cache.properties
.gradle/buildOutputCleanup/outputFiles.bin
.gradle/checksums/checksums.lock
.gradle/configuration-cache/gc.properties
.gradle/file-system.probe
.gradle/vcs-1/gc.properties
.idea/.name
.idea/compiler.xml
.idea/gradle.xml
.idea/jarRepositories.xml
.idea/misc.xml
app/.DS_Store
app/build/generated/source/buildConfig/civ/release/com/atakmap/android/plugintemplate/plugin/BuildConfig.java
app/build/generated/source/buildConfig/mil/debug/com/atakmap/android/plugintemplate/plugin/BuildConfig.java
app/build/intermediates/aapt_proguard_file/civRelease/aapt_rules.txt
app/build/intermediates/annotation_processor_list/civRelease/annotationProcessors.json
app/build/intermediates/annotation_processor_list/milDebug/annotationProcessors.json
app/build/intermediates/apk/civ/release/ATAK-Plugin-BingMaps-1.0-1-4.8.1-civ-release.apk
app/build/intermediates/apk/civ/release/output-metadata.json
app/build/intermediates/apk/mil/debug/ATAK-Plugin-BingMaps-1.0-1-4.8.1-mil-debug.apk
app/build/intermediates/apk/mil/debug/output-metadata.json
app/build/intermediates/apk_ide_redirect_file/civRelease/redirect.txt
app/build/intermediates/apk_ide_redirect_file/milDebug/redirect.txt
app/build/intermediates/app_metadata/civRelease/app-metadata.properties
app/build/intermediates/app_metadata/milDebug/app-metadata.properties
app/build/intermediates/assets/civRelease/mergeCivReleaseAssets/plugin.xml
app/build/intermediates/assets/milDebug/mergeMilDebugAssets/plugin.xml
app/build/intermediates/compatible_screen_manifest/civRelease/output-metadata.json
app/build/intermediates/compatible_screen_manifest/milDebug/output-metadata.json
app/build/intermediates/compile_and_runtime_not_namespaced_r_class_jar/civRelease/R.jar
app/build/intermediates/compile_and_runtime_not_namespaced_r_class_jar/milDebug/R.jar
app/build/intermediates/compressed_assets/civRelease/out/assets/plugin.xml.jar
app/build/intermediates/compressed_assets/milDebug/out/assets/plugin.xml.jar
app/build/intermediates/default_proguard_files/global/proguard-android-optimize.txt-7.2.2
app/build/intermediates/default_proguard_files/global/proguard-android.txt-7.2.2
app/build/intermediates/default_proguard_files/global/proguard-defaults.txt-7.2.2
app/build/intermediates/desugar_graph/milDebug/out/currentProject/dirs_bucket_0/graph.bin
app/build/intermediates/desugar_graph/milDebug/out/currentProject/dirs_bucket_1/graph.bin
app/build/intermediates/desugar_graph/milDebug/out/currentProject/dirs_bucket_2/graph.bin
app/build/intermediates/desugar_graph/milDebug/out/currentProject/dirs_bucket_3/graph.bin
app/build/intermediates/desugar_graph/milDebug/out/currentProject/jar_df8f745e2f09122d3be864b50714a77a00c295d217cd76bd4781f91ad10ded42_bucket_0/graph.bin
app/build/intermediates/desugar_graph/milDebug/out/currentProject/jar_df8f745e2f09122d3be864b50714a77a00c295d217cd76bd4781f91ad10ded42_bucket_1/graph.bin
app/build/intermediates/desugar_graph/milDebug/out/currentProject/jar_df8f745e2f09122d3be864b50714a77a00c295d217cd76bd4781f91ad10ded42_bucket_2/graph.bin
app/build/intermediates/desugar_graph/milDebug/out/currentProject/jar_df8f745e2f09122d3be864b50714a77a00c295d217cd76bd4781f91ad10ded42_bucket_3/graph.bin
app/build/intermediates/dex/civRelease/minifyCivReleaseWithR8/classes.dex
app/build/intermediates/dex/milDebug/mergeProjectDexMilDebug/0/classes.dex
app/build/intermediates/dex/milDebug/mergeProjectDexMilDebug/1/classes.dex
app/build/intermediates/dex/milDebug/mergeProjectDexMilDebug/7/classes.dex
app/build/intermediates/dex_archive_input_jar_hashes/milDebug/out
app/build/intermediates/dex_number_of_buckets_file/milDebug/out
app/build/intermediates/incremental/civRelease-mergeJavaRes/merge-state
app/build/intermediates/incremental/civRelease/mergeCivReleaseResources/compile-file-map.properties
app/build/intermediates/incremental/civRelease/mergeCivReleaseResources/merged.dir/values/values.xml
app/build/intermediates/incremental/civRelease/mergeCivReleaseResources/merger.xml
app/build/intermediates/incremental/lintVitalAnalyzeCivRelease/civRelease-mainArtifact-dependencies.xml
app/build/intermediates/incremental/lintVitalAnalyzeCivRelease/civRelease-mainArtifact-libraries.xml
app/build/intermediates/incremental/lintVitalAnalyzeCivRelease/civRelease.xml
app/build/intermediates/incremental/lintVitalAnalyzeCivRelease/module.xml
app/build/intermediates/incremental/lintVitalReportCivRelease/civRelease-mainArtifact-dependencies.xml
app/build/intermediates/incremental/lintVitalReportCivRelease/civRelease-mainArtifact-libraries.xml
app/build/intermediates/incremental/lintVitalReportCivRelease/civRelease.xml
app/build/intermediates/incremental/lintVitalReportCivRelease/module.xml
app/build/intermediates/incremental/mergeCivReleaseAssets/merger.xml
app/build/intermediates/incremental/mergeCivReleaseJniLibFolders/merger.xml
app/build/intermediates/incremental/mergeCivReleaseShaders/merger.xml
app/build/intermediates/incremental/mergeMilDebugAssets/merger.xml
app/build/intermediates/incremental/mergeMilDebugJniLibFolders/merger.xml
app/build/intermediates/incremental/mergeMilDebugShaders/merger.xml
app/build/intermediates/incremental/milDebug-mergeJavaRes/merge-state
app/build/intermediates/incremental/milDebug/mergeMilDebugResources/compile-file-map.properties
app/build/intermediates/incremental/milDebug/mergeMilDebugResources/merged.dir/values/values.xml
app/build/intermediates/incremental/milDebug/mergeMilDebugResources/merger.xml
app/build/intermediates/incremental/packageCivRelease/tmp/civRelease/dex-renamer-state.txt
app/build/intermediates/incremental/packageCivRelease/tmp/civRelease/zip-cache/androidResources
app/build/intermediates/incremental/packageCivRelease/tmp/civRelease/zip-cache/javaResources0
app/build/intermediates/incremental/packageMilDebug/tmp/milDebug/dex-renamer-state.txt
app/build/intermediates/incremental/packageMilDebug/tmp/milDebug/zip-cache/androidResources
app/build/intermediates/incremental/packageMilDebug/tmp/milDebug/zip-cache/javaResources0
app/build/intermediates/javac/civRelease/classes/com/atakmap/android/plugintemplate/BingMapsPointMapItem.class
app/build/intermediates/javac/civRelease/classes/com/atakmap/android/plugintemplate/BingMapsRouter.class
app/build/intermediates/javac/civRelease/classes/com/atakmap/android/plugintemplate/BingMapsRoutingTask.class
app/build/intermediates/javac/civRelease/classes/com/atakmap/android/plugintemplate/plugin/BuildConfig.class
app/build/intermediates/javac/civRelease/classes/com/atakmap/android/plugintemplate/plugin/PluginNativeLoader.class
app/build/intermediates/javac/civRelease/classes/com/atakmap/android/plugintemplate/plugin/PluginTemplateLifecycle.class
app/build/intermediates/javac/civRelease/classes/com/atakmap/android/plugintemplate/plugin/PluginTemplateTool.class
app/build/intermediates/javac/civRelease/classes/com/atakmap/android/plugintemplate/PluginPreferencesFragment.class
app/build/intermediates/javac/civRelease/classes/com/atakmap/android/plugintemplate/PluginTemplateDropDownReceiver$1.class
app/build/intermediates/javac/civRelease/classes/com/atakmap/android/plugintemplate/PluginTemplateDropDownReceiver$ChromeClient.class
app/build/intermediates/javac/civRelease/classes/com/atakmap/android/plugintemplate/PluginTemplateDropDownReceiver$Client.class
app/build/intermediates/javac/civRelease/classes/com/atakmap/android/plugintemplate/PluginTemplateDropDownReceiver.class
app/build/intermediates/javac/civRelease/classes/com/atakmap/android/plugintemplate/PluginTemplateMapComponent.class
app/build/intermediates/javac/civRelease/classes/com/atakmap/android/plugintemplate/PluginTemplateWidget.class
app/build/intermediates/javac/milDebug/classes/com/atakmap/android/plugintemplate/BingMapsPointMapItem.class
app/build/intermediates/javac/milDebug/classes/com/atakmap/android/plugintemplate/BingMapsRouter.class
app/build/intermediates/javac/milDebug/classes/com/atakmap/android/plugintemplate/BingMapsRoutingTask.class
app/build/intermediates/javac/milDebug/classes/com/atakmap/android/plugintemplate/plugin/BuildConfig.class
app/build/intermediates/javac/milDebug/classes/com/atakmap/android/plugintemplate/plugin/PluginNativeLoader.class
app/build/intermediates/javac/milDebug/classes/com/atakmap/android/plugintemplate/plugin/PluginTemplateLifecycle.class
app/build/intermediates/javac/milDebug/classes/com/atakmap/android/plugintemplate/plugin/PluginTemplateTool.class
app/build/intermediates/javac/milDebug/classes/com/atakmap/android/plugintemplate/PluginPreferencesFragment.class
app/build/intermediates/javac/milDebug/classes/com/atakmap/android/plugintemplate/PluginTemplateDropDownReceiver$1.class
app/build/intermediates/javac/milDebug/classes/com/atakmap/android/plugintemplate/PluginTemplateDropDownReceiver$ChromeClient.class
app/build/intermediates/javac/milDebug/classes/com/atakmap/android/plugintemplate/PluginTemplateDropDownReceiver$Client.class
app/build/intermediates/javac/milDebug/classes/com/atakmap/android/plugintemplate/PluginTemplateDropDownReceiver.class
app/build/intermediates/javac/milDebug/classes/com/atakmap/android/plugintemplate/PluginTemplateMapComponent.class
app/build/intermediates/javac/milDebug/classes/com/atakmap/android/plugintemplate/PluginTemplateWidget.class
app/build/intermediates/lint-cache/lint-cache-version.txt
app/build/intermediates/lint_vital_intermediate_text_report/civRelease/lint-results-civRelease.txt
app/build/intermediates/lint_vital_return_value/civRelease/return-value-civRelease.txt
app/build/intermediates/manifest_merge_blame_file/civRelease/manifest-merger-blame-civ-release-report.txt
app/build/intermediates/manifest_merge_blame_file/milDebug/manifest-merger-blame-mil-debug-report.txt
app/build/intermediates/merged_java_res/civRelease/base.jar
app/build/intermediates/merged_java_res/milDebug/base.jar
app/build/intermediates/merged_manifest/civRelease/AndroidManifest.xml
app/build/intermediates/merged_manifest/milDebug/AndroidManifest.xml
app/build/intermediates/merged_manifests/civRelease/AndroidManifest.xml
app/build/intermediates/merged_manifests/civRelease/output-metadata.json
app/build/intermediates/merged_manifests/milDebug/AndroidManifest.xml
app/build/intermediates/merged_manifests/milDebug/output-metadata.json
app/build/intermediates/merged_res/civRelease/drawable_btn_gray.xml.flat
app/build/intermediates/merged_res/civRelease/drawable_east32.png.flat
app/build/intermediates/merged_res/civRelease/drawable_ic_launcher_maps.png.flat
app/build/intermediates/merged_res/civRelease/drawable_new_dark_button_bg.xml.flat
app/build/intermediates/merged_res/civRelease/drawable_new_dark_button_disabled.xml.flat
app/build/intermediates/merged_res/civRelease/drawable_new_dark_button_selected.xml.flat
app/build/intermediates/merged_res/civRelease/drawable_north32.png.flat
app/build/intermediates/merged_res/civRelease/drawable_south32.png.flat
app/build/intermediates/merged_res/civRelease/drawable_west32.png.flat
app/build/intermediates/merged_res/civRelease/layout_bingmaps_planner_option.xml.flat
app/build/intermediates/merged_res/civRelease/layout_main_layout.xml.flat
app/build/intermediates/merged_res/civRelease/values_values.arsc.flat
app/build/intermediates/merged_res/civRelease/xml_preferences.xml.flat
app/build/intermediates/merged_res/milDebug/drawable_btn_gray.xml.flat
app/build/intermediates/merged_res/milDebug/drawable_east32.png.flat
app/build/intermediates/merged_res/milDebug/drawable_ic_launcher_maps.png.flat
app/build/intermediates/merged_res/milDebug/drawable_new_dark_button_bg.xml.flat
app/build/intermediates/merged_res/milDebug/drawable_new_dark_button_disabled.xml.flat
app/build/intermediates/merged_res/milDebug/drawable_new_dark_button_selected.xml.flat
app/build/intermediates/merged_res/milDebug/drawable_north32.png.flat
app/build/intermediates/merged_res/milDebug/drawable_south32.png.flat
app/build/intermediates/merged_res/milDebug/drawable_west32.png.flat
app/build/intermediates/merged_res/milDebug/layout_bingmaps_planner_option.xml.flat
app/build/intermediates/merged_res/milDebug/layout_main_layout.xml.flat
app/build/intermediates/merged_res/milDebug/values_values.arsc.flat
app/build/intermediates/merged_res/milDebug/xml_preferences.xml.flat
app/build/intermediates/merged_res_blame_folder/civRelease/out/multi-v2/civRelease.json
app/build/intermediates/merged_res_blame_folder/civRelease/out/multi-v2/values.json
app/build/intermediates/merged_res_blame_folder/civRelease/out/single/civRelease.json
app/build/intermediates/merged_res_blame_folder/milDebug/out/multi-v2/milDebug.json
app/build/intermediates/merged_res_blame_folder/milDebug/out/multi-v2/values.json
app/build/intermediates/merged_res_blame_folder/milDebug/out/single/milDebug.json
app/build/intermediates/metadata_library_dependencies_report/civRelease/dependencies.pb
app/build/intermediates/navigation_json/civRelease/navigation.json
app/build/intermediates/navigation_json/milDebug/navigation.json
app/build/intermediates/optimized_processed_res/civRelease/output-metadata.json
app/build/intermediates/optimized_processed_res/civRelease/resources-civ-release-optimize.ap_
app/build/intermediates/packaged_manifests/civRelease/AndroidManifest.xml
app/build/intermediates/packaged_manifests/civRelease/output-metadata.json
app/build/intermediates/packaged_manifests/milDebug/AndroidManifest.xml
app/build/intermediates/packaged_manifests/milDebug/output-metadata.json
app/build/intermediates/processed_res/civRelease/out/output-metadata.json
app/build/intermediates/processed_res/civRelease/out/resources-civRelease.ap_
app/build/intermediates/processed_res/milDebug/out/output-metadata.json
app/build/intermediates/processed_res/milDebug/out/resources-milDebug.ap_
app/build/intermediates/project_dex_archive/milDebug/out/4d2e6b0a915b0d16c75189e3d3e4b704a04eddb6a79ec12ed32aba7f07a9a0e9_1.jar
app/build/intermediates/project_dex_archive/milDebug/out/com/atakmap/android/plugintemplate/BingMapsPointMapItem.dex
app/build/intermediates/project_dex_archive/milDebug/out/com/atakmap/android/plugintemplate/BingMapsRouter.dex
app/build/intermediates/project_dex_archive/milDebug/out/com/atakmap/android/plugintemplate/BingMapsRoutingTask.dex
app/build/intermediates/project_dex_archive/milDebug/out/com/atakmap/android/plugintemplate/plugin/BuildConfig.dex
app/build/intermediates/project_dex_archive/milDebug/out/com/atakmap/android/plugintemplate/plugin/PluginNativeLoader.dex
app/build/intermediates/project_dex_archive/milDebug/out/com/atakmap/android/plugintemplate/plugin/PluginTemplateLifecycle.dex
app/build/intermediates/project_dex_archive/milDebug/out/com/atakmap/android/plugintemplate/plugin/PluginTemplateTool.dex
app/build/intermediates/project_dex_archive/milDebug/out/com/atakmap/android/plugintemplate/PluginPreferencesFragment.dex
app/build/intermediates/project_dex_archive/milDebug/out/com/atakmap/android/plugintemplate/PluginTemplateDropDownReceiver$1.dex
app/build/intermediates/project_dex_archive/milDebug/out/com/atakmap/android/plugintemplate/PluginTemplateDropDownReceiver$ChromeClient.dex
app/build/intermediates/project_dex_archive/milDebug/out/com/atakmap/android/plugintemplate/PluginTemplateDropDownReceiver$Client.dex
app/build/intermediates/project_dex_archive/milDebug/out/com/atakmap/android/plugintemplate/PluginTemplateDropDownReceiver.dex
app/build/intermediates/project_dex_archive/milDebug/out/com/atakmap/android/plugintemplate/PluginTemplateMapComponent.dex
app/build/intermediates/project_dex_archive/milDebug/out/com/atakmap/android/plugintemplate/PluginTemplateWidget.dex
app/build/intermediates/runtime_symbol_list/civRelease/R.txt
app/build/intermediates/runtime_symbol_list/milDebug/R.txt
app/build/intermediates/sdk_dependency_data/civRelease/sdkDependencyData.pb
app/build/intermediates/shrunk_java_res/civRelease/shrunkJavaRes.jar
app/build/intermediates/signing_config_versions/civRelease/signing-config-versions.json
app/build/intermediates/signing_config_versions/milDebug/signing-config-versions.json
app/build/intermediates/source_set_path_map/civRelease/file-map.txt
app/build/intermediates/source_set_path_map/milDebug/file-map.txt
app/build/intermediates/stable_resource_ids_file/civRelease/stableIds.txt
app/build/intermediates/stable_resource_ids_file/milDebug/stableIds.txt
app/build/outputs/logs/manifest-merger-civ-release-report.txt
app/build/outputs/logs/manifest-merger-mil-debug-report.txt
app/build/outputs/mapping/civRelease/configuration.txt
app/build/outputs/mapping/civRelease/mapping.txt
app/build/outputs/mapping/civRelease/seeds.txt
app/build/outputs/sdk-dependencies/civRelease/sdkDependencies.txt
app/build/proguard-civ-release-mapping.txt
app/build/proguard-mil-debug-mapping.txt
app/build/tmp/compileCivReleaseJavaWithJavac/previous-compilation-data.bin
app/build/tmp/compileMilDebugJavaWithJavac/previous-compilation-data.bin
